* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;




    /* outline: 10px solid black; */
}

.button {
    width: 250px;
    height: 90px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    margin: 10px;
}


.button i {
    margin-right: 10px;
}

.logo {
    margin-left: 40px;

}

.logo h1 {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Jost", sans-serif;
}

:root {
    --primary: #4294E3;
    --secondary: #8F12FD;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar {
    position: relative;
    height: 59px;
    display: flex;
    align-items: center;
}

#navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;


}

#navbar ul li a {
    color: black;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;

}

#navbar ul li a:hover {
    color: white;
    background-color: rgb(196, 186, 186);
}

.fa-check:before {
    content: "\f00c";
    font-size: 20px;
}

.btn {
    border-radius: 20px;
    border: none;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    color: white;
    width: 120px;
    height: 40px;
    cursor: pointer;
    margin: 20px;

}

/*-------------------------------------------------- Animation-scroll------------------------------------ */

/* .scroll h1 {
    animation: cssscrollreveal ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
}

.scroll h5 {
    animation: cssscrollreveal ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
}

.scroll p {
    animation: cssscrollreveal ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
}

.scroll .symbol {
    animation: cssscrollreveal ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
}

.scroll button {

    animation: cssscrollreveal ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
}

.scroll h3 {
    animation: cssscrollreveal ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
}

.scroll .box {
    animation: cssscrollreveal ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
}

.scroll .boxes {
    animation: cssscrollreveal ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
}

.scroll h4 {
    animation: cssscrollreveal ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
}

.scroll h6 {
    animation: cssscrollreveal ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
}

.scroll .gift {
    animation: cssscrollreveal ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
}

.scroll i {
    animation: cssscrollreveal ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
}



@keyframes cssscrollreveal {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

/*-------------------------------------------------- / / HOME / /-------------------------------------------------- */


.home {
    background: linear-gradient(#4294E3, #8F12FD);
    width: 100%;
}

.coverdiv {
    display: flex;
    flex-wrap: wrap;
}

.cover {
    width: 70%;
    padding: 5% 10% 0 5%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.home h2 {
    color: white;
    font-size: 50px;
}

.home p {
    color: white;
}



.home img {
    position: relative;

}

.img .imgphone {
    position: absolute;
    top: 28%;
    right: 10%;
    height: 435px;
    z-index: 1;
    width: 235px;
}

.img .imggym {
    position: absolute;
    top: 30%;
    right: 11%;
    height: 421px;
    width: 211px;
    z-index: 1;
}


img.bottomimg {
    width: 100%;
}

.imggym {
    animation: mymove 1s 1;
    animation-delay: -0.5s;
}

.imgphone {
    animation: mymove 1s 1;
    animation-delay: -0.5s;
}

@keyframes mymove {
    from {
        top: 0px;
    }

    to {
        bottom: 5px;
    }
}



/*--------------------------------------------------- About -------------------------------------------------------------------*/


.About {
    padding: 25px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.aboutdiv1 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.About h5 {
    font-size: 35px;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.About h1 {
    color: black;
    font-size: 44px;
    font-weight: 800;
    font-family: "Jost", sans-serif;
}

.About p {

    font-size: 25px;
    color: #919294;
}

.symbol {
    display: flex;
    gap: 95px;
}

.symbol p {

    padding: 5px;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {

    border-radius: 25px;
    border: none;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: var(--primary), (var(--secondary));
    color: white;
    width: 160px;
    height: 60px;
    justify-items: center;
    margin-bottom: 5%;

}

.img2 img {
    height: 400px;
    width: 500px;

}


/*------------------------------------------------- App-feature------------------------------------------------------------ */

.app-feature h5 {
    text-align: center;
    font-weight: 600;
    margin-top: 45px;
    text-transform: capitalize;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
}

.app-feature h3 {
    text-align: center;
    font-size: calc(1.375rem + 1.5vw);
    color: #262B47;
    line-height: 1.5;
    font-family: "Jost", sans-serif;

}

.app-feature {

    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}


.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    transition: 0.4s ease-in-out;
}

.box:hover {
    box-shadow: #919294;
}

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;

}

.box1 {
    border-radius: 10px;
    height: 200px;
    width: 315px;
    padding: 1.5rem;
    line-height: 1.5rem;
    align-items: center;
    text-align: center;
    color: #919294;
    background: #F0F6FF;
}




.box1:hover {
    transform: translateY(-5px);
}


.box2 {

    border-radius: 10px;
    height: 200px;
    width: 315px;
    padding: 1.5rem;
    line-height: 1.5rem;
    align-items: center;
    text-align: center;
    color: #919294;
    background: #F0F6FF;
    transition: transform 0.3 ease;
}

.box2:hover {
    transform: translateY(-5px);
}

.box3 {

    border-radius: 10px;
    height: 200px;
    width: 315px;
    padding: 1.5rem;
    line-height: 1.5rem;
    align-items: center;
    text-align: center;
    color: #919294;
    background: #F0F6FF;
    transition: transform 0.3 ease;
}

.box3:hover {
    transform: translateY(-5px);
}

.box4 {

    border-radius: 10px;
    height: 200px;
    width: 315px;
    padding: 1.5rem;
    line-height: 1.5rem;
    align-items: center;
    text-align: center;
    color: #919294;
    background: #F0F6FF;
    transition: transform 0.3 ease;

}

.box4:hover {
    transform: translateY(-5px);
}

.box5 {

    border-radius: 10px;
    height: 200px;
    width: 315px;
    padding: 1.5rem;
    line-height: 1.5rem;
    align-items: center;
    text-align: center;
    color: #919294;
    background: #F0F6FF;
    transition: transform 0.3 ease;
}

.box5:hover {
    transform: translateY(-5px);
}

.box6 {
    border-radius: 10px;
    height: 200px;
    width: 315px;
    padding: 1.5rem;
    line-height: 1.5rem;
    align-items: center;
    text-align: center;
    color: #919294;
    background: #F0F6FF;
    transition: transform 0.3 ease;
}

.box6:hover {
    transform: translateY(-5px);
}

.icon1  i {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;

}

.icon2 i {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;

}

.icon3 i {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;

}

.icon5 i {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;

}

.icon6 i {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;

}

.ico7 i {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;

}

/* / / ------------------------------------------------SCREENSHOT--------------------------------------------------------- / / */

.screenshot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.screenshotdiv1 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.screenshot h4 {

    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
}

.screenshot h1 {
    color: black;
    font-size: 35px;
    font-weight: bolder;
    font-family: "Jost", sans-serif;
}

.screenshot p {
    font-size: larger;
    color: #262B47;
}

.points p {
    line-height: 29px;
}

.points i {
    padding: 8px;
    color: #4294E3;
}

.screenshot button {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 30px;

    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: var(--primary), (var(--secondary));
    -webkit-text-fill-color: white;
    color: antiquewhite;

}

.screenimg img {
    height: 450px;
    width: auto;
}

/*---------------------------------------------------- How-it-works------------------------------------------------------------ */


.easy {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


.easy h4 {
    /* text-align: center; */
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;



}


.easy h1 {
    font-weight: bolder;
    font-family: "Jost", sans-serif;

}

.gift {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

.gift h6 {
    font-size: x-large;

}

.gift1 {
    border-radius: 10px;
    height: 240px;
    width: 300px;
    padding: 1.5rem;
    line-height: 1rem;
    text-align: center;
    color: #919294;
    background: #F0F6FF;
    transition: transform 0.3 ease;
}

.gift1:hover {
    transform: translateY(-5px);
}

.gift2 {
    border-radius: 10px;
    height: 240px;
    width: 300px;
    padding: 1.5rem;
    line-height: 1rem;
    text-align: center;
    color: #919294;
    background: #F0F6FF;
    transition: transform 0.3 ease;
}

.gift2:hover {
    transform: translateY(-5px);
    animation: name duration timing-function delay iteration-count direction fill-mode;
}


.gift3 {
    border-radius: 10px;
    height: 240px;
    width: 300px;
    padding: 1.5rem;
    line-height: 1rem;
    text-align: center;
    color: #919294;
    background: #F0F6FF;
    transition: transform 0.3 ease;
}

.gift3:hover {
    transform: translateY(-5px);
}

/* ----------------------------------------------------download-section--------------------------------------------------- */
.page4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 150px;
    justify-content: center;
    align-items: center;
}

.download {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 5%;
}


.download h1 {
    font-weight: bolder;
    font-family: "Jost", sans-serif;
    font-size: 50px;


}

.download h4 {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
}

.download p {
    font-size: larger;
    color: #919294;


}

.downloadbtn {
    display: flex;
}

.download button {
    border-radius: 18px;
    height: 90px;
    width: 243px;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: var(--primary), (var(--secondary));
    -webkit-text-fill-color: white;
    color: antiquewhite;
    margin: 0 2% 0;
    border: none;
    position: relative;
    margin-top: 20px;
}

.fa-apple:before {
    top: 11px;
    content: "\f179";
    font-size: 50px;
    position: relative;
    left: 10px;
}

.fa-android:before {
    content: "\f17b";
    top: 5px;
    font-size: 35px;
    position: relative;
    left: 6px;
}



.photo img {
    height: 400px;
    width: 500px;


}

/* -------------------------------------------------price-plan -----------------------------------------------------------------------*/

.pricing-toggle {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.toggle-switch {
    position: relative;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.price-display {
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

.monthly,
.yearly {
    display: none;
}

.monthly.active,
.yearly.active {
    display: block;
}


.price-display h4 {
    text-align: center;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10% 0 0;
    font-size: 35px;

}

.price-display h1 {
    text-align: center;
    padding: 20px;
    font-family: "Jost", sans-serif;
}

.flex {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.flex h2 {
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
}

.flex h4 {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    position: relative;
    bottom: 6px;
}

.price-display {
    position: relative;
}

.plan1 {
    font-size: x-large;
    font-weight: 600;
}

.plan2 {
    font-size: x-large;
    font-weight: 600;

}

.flex .btn {
    border-radius: 25px;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: padding-box;
    -webkit-background-clip: var(--primary), (var(--secondary));
    -webkit-text-fill-color: white;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 90%;
    height: 60px;
    border: none;

}

.square1 {
    border-radius: 10px;
    height: 400px;
    width: 350px;
    padding: 1.5rem;
    line-height: 1rem;
    color: #919294;
    background: #F0F6FF;
}



.square2 {
    border-radius: 10px;
    height: 400px;
    width: 350px;
    padding: 1.5rem;
    line-height: 1rem;
    color: #919294;
    background: #F0F6FF;

}

.square3 {
    border-radius: 10px;
    height: 400px;
    width: 350px;
    padding: 1.5rem;
    line-height: 1rem;
    color: #919294;
    background: #F0F6FF;
}

.square1 .square2 .square3 .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}


.testimonial {
    display: flex;
    flex-direction: column;
    margin: 80px 0 80px;

}

.testimonial h4 {
    text-align: center;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
}

.testimonial h1 {
    text-align: center;
    font-family: "Jost", sans-serif;
}

.test {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.testimg img {
    border-radius: 5px;
    position: relative;
    top: -12%;
    right: -3%;
}

.testimg i {
    position: relative;
    top: -35%;
    right: -4%;

}

.test h5 {
    width: fit-content;
    position: relative;
    left: 125px;
    bottom: -32px;
}

.test h6 {
    width: fit-content;
    position: relative;
    left: 122px;
    bottom: -40px;
    font-size: 1.3rem;
}

.testimonial p {
    text-align: center;
}

.test1 {
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    height: 240px;
    width: 335px;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: padding-box;
    -webkit-background-clip: var(--primary), (var(--secondary));
    -webkit-text-fill-color: white;
    margin: 8% 5%;
}

.test2 {
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    height: 240px;
    width: 335px;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: padding-box;
    -webkit-background-clip: var(--primary), (var(--secondary));
    -webkit-text-fill-color: white;
    margin: 8% 5%;
}

.Contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.Contact h4 {
    width: 48%;
}

.Contact h6 {
    margin: 2% 0 2% 0;
    font-size: x-large;
    font-family: "Jost", sans-serif;
}

.Contact p {
    margin: 2% 10% 5% 10%;
}



.text {
    display: contents;
}

.text input {
    border-radius: 10px;
    height: 70px;
    width: 300px;
    padding: 10px;
}

.text1 input {
    border-radius: 10px;
    height: 70px;
    width: 600px;
    padding: 10px;

}

.text2 input {
    border-radius: 10px;
    height: 140px;
    width: 600px;
    padding: 10px;
}

.Contact button {
    border-radius: 30px;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: padding-box;
    -webkit-background-clip: var(--primary), (var(--secondary));
    -webkit-text-fill-color: white;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    margin: 3% 40% 5% 40%;
    border: none;
}

.Ending {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: padding-box;
    -webkit-background-clip: var(--primary), (var(--secondary));
    -webkit-text-fill-color: white;
    height: 650px;
    line-height: 35px;
    gap: 10%;
    padding: 25px;
    position: relative;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 8%;

}

.div4 {
    width: 26%;
}

.img2 .topimg {
    display: flex;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 45%;
    width: 100%;
}



.div4 input {
    color: #000;
    background: transparent;
    padding: 10px;
    border-radius: 10px;
}

nav {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: padding-box;
    -webkit-background-clip: (var(--secondary));
    -webkit-text-fill-color: white;
}



#navbar2 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#navbar2 ul li {
    list-style: none;
    font-size: 1.3rem;

}

#navbar2 ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;

}

#navbar2 ul li a:hover {
    color: black;
    background-color: rgb(100, 98, 98);
}


.setting {
    font-size: 80px;
    position: relative;
    bottom: 80px;
}

.setting i {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile {
    font-size: 80px;
    position: relative;
    bottom: 80px;
}

.profile i {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.check {
    font-size: 80px;
    position: relative;
    bottom: 80px;
}

.check i {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width:950px) {
    #navbar {
        display: none;
    }

    .home .img {
        display: none;
    }


    .cover {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }


    .About img {
        width: 100%;
    }

    .About p {
        font-size: 20px;
        color: #919294;
    }

    .img2 .topimg {
        display: none;
    }

    .download h1 {
        font-size: 33px;
    }

    #input-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }


    .text1 input {
        width: 300px;
    }

    .text2 input {
        width: 300px;
    }

    .footer {
        width: 80%;
        flex-wrap: wrap;
    }

    .div4 {
        width: 33%;
    }

}


@media screen and (max-width:570px) {
    .home h2 {
        font-size: 30px;
    }


    .aboutdiv1 {
        width: 100%;
    }

    .About h1 {
        font-size: 27px;
    }

    .screenshotdiv1 {
        width: 100%;
    }

    .download {
        width: 100%;
    }

    .download h1 {
        font-size: 40px;
    }

    .photo img {

        width: 100%;
    }


    .Contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .Ending {
        height: 1200px;
    }


}

@media screen and (max-width:370px) {

    .Contact {
        display: contents;
    }

    .Contact h4 {
        width: 100%;

    }

    .Contact h6 {
        text-align: center;
    }


    .div4 {
        display: none;
    }

}